In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Reviews.csv')

In [3]:
df.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568454 entries, 0 to 568453
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      568454 non-null  int64
 1   ProductId               568454 non-null  object
 2   UserId                  568454 non-null  object
 3   ProfileName             568428 non-null  object
 4   HelpfulnessNumerator    568454 non-null  int64
 5   HelpfulnessDenominator  568454 non-null  int64
 6   Score                   568454 non-null  int64
 7   Time                    568454 non-null  int64
 8   Summary                 568427 non-null  object
 9   Text                    568454 non-null  object
dtypes: int64(5), object(5)
memory usage: 43.4+ MB

In [5]:
df.describe()

,Id,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time
count,568454.000000,568454.000000,568454.00000,568454.000000,5.684540e+05
mean,284227.500000,1.743817,2.22881,4.183199,1.296257e+09
std,164098.679298,7.636513,8.28974,1.310436,4.804331e+07
min,1.000000,0.000000,0.00000,1.000000,9.393408e+08
25%,142114.250000,0.000000,0.00000,4.000000,1.271290e+09
50%,284227.500000,0.000000,1.00000,5.000000,1.311120e+09
75%,426340.750000,2.000000,2.00000,5.000000,1.332720e+09
max,568454.000000,866.000000,923.00000,5.000000,1.351210e+09

In [6]:
df = df[['Score','Text']]

In [7]:
df

        Score                                               Text
0           5  I have bought several of the Vitality canned d...
1           1  Product arrived labeled as Jumbo Salted Peanut...
2           4  This is a confection that has been around a fe...
3           2  If you are looking for the secret ingredient i...
4           5  Great taffy at a great price.  There was a wid...
...       ...                                                ...
568449      5  Great for sesame chicken..this is a good if no...
568450      2  I'm disappointed with the flavor. The chocolat...
568451      5  These stars are small, so you can give 10-15 o...
568452      5  These are the BEST treats for training and rew...
568453      5  I am very satisfied ,product is as advertised,...

[568454 rows x 2 columns]

In [8]:
df['Score'].value_counts()

Score
5    363122
4     80655
1     52268
3     42640
2     29769
Name: count, dtype: int64

In [9]:
def map_score(score):
    if score in [1,2]:
        return 'Negative'
    if score==3:
        return 'Neutral'
    else:
        return 'Positive'

df['sentiment'] = df['Score'].apply(map_score)

In [10]:
df =df[['Text','sentiment']]

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['label'] = le.fit_transform(df['sentiment'])

In [12]:
df

                                                     Text sentiment  label
0       I have bought several of the Vitality canned d...  Positive      2
1       Product arrived labeled as Jumbo Salted Peanut...  Negative      0
2       This is a confection that has been around a fe...  Positive      2
3       If you are looking for the secret ingredient i...  Negative      0
4       Great taffy at a great price.  There was a wid...  Positive      2
...                                                   ...       ...    ...
568449  Great for sesame chicken..this is a good if no...  Positive      2
568450  I'm disappointed with the flavor. The chocolat...  Negative      0
568451  These stars are small, so you can give 10-15 o...  Positive      2
568452  These are the BEST treats for training and rew...  Positive      2
568453  I am very satisfied ,product is as advertised,...  Positive      2

[568454 rows x 3 columns]

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=5000)
x = tfidf.fit_transform(df['Text'])
y = df['label']

In [14]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=42)
x_sampled, y_sampled = smote.fit_resample(x,y)

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_sampled,y_sampled,test_size=0.2,random_state=42,stratify=y_sampled)

In [16]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(x_train,y_train)
ypred= lr.predict(x_test)

c:\Users\vinit\OneDrive\Documents\Artificial_Intelligence\venv1\lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [17]:
from sklearn.metrics import classification_report
print(classification_report(y_test,ypred))

              precision    recall  f1-score   support

           0       0.80      0.79      0.80     88755
           1       0.73      0.76      0.75     88756
           2       0.85      0.83      0.84     88756

    accuracy                           0.79    266267
   macro avg       0.80      0.79      0.79    266267
weighted avg       0.80      0.79      0.79    266267

In [18]:
def predict_sentiment(text):
    text_transformed = tfidf.transform([text])
    pred_label = lr.predict(text_transformed)

    sentiment = le.inverse_transform(pred_label)[0]
    return sentiment

In [32]:
user_input = input('Enter a review')
output = predict_sentiment(user_input)
print('Predicterd Sentiment:',output)

Predicterd Sentiment: Positive

In [23]:
y_test.value_counts()

label
2    88756
1    88756
0    88755
Name: count, dtype: int64

In [28]:
df['Text'][1]

'Product arrived labeled as Jumbo Salted Peanuts...the peanuts were actually small sized unsalted. Not sure if this was an error or if the vendor intended to represent the product as "Jumbo".'

In [27]:
df['Text']

0         I have bought several of the Vitality canned d...
1         Product arrived labeled as Jumbo Salted Peanut...
2         This is a confection that has been around a fe...
3         If you are looking for the secret ingredient i...
4         Great taffy at a great price.  There was a wid...
                                ...
568449    Great for sesame chicken..this is a good if no...
568450    I'm disappointed with the flavor. The chocolat...
568451    These stars are small, so you can give 10-15 o...
568452    These are the BEST treats for training and rew...
568453    I am very satisfied ,product is as advertised,...
Name: Text, Length: 568454, dtype: object

In [33]:
import joblib

In [34]:
joblib.dump(lr,'logistic.pkl')
joblib.dump(tfidf,'tfidf_vect.pkl')
joblib.dump(le, 'label_encode.pkl')

['label_encode.pkl']